*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


body{
    overflow-x: hidden;
}
.background{
    background: #1F203A url(background.jpg) no-repeat center/cover;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100vw;
    display: flex;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
}
.search{
    position: relative;
    width: 80%;
    height: 40px;
    display: flex;
    border: 1px solid #fff;
}
.inputSearch{
    position: absolute;
    background: transparent;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    border: none;
    font-size: 1rem;
    padding-left: 10px;
    color: #fff;
}
.inputSearch:focus{
    border: none;
    outline: none;
}
/*::placeholder{*/
/*    color: #D4C1F9;*/
/*    font-weight: 600;*/
/*}*/
.buttonSearch{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}
.magnifier{
    height: 20px;
    color: #fff;
}
.hamburger{
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    align-items: center;
    justify-content: center;
    height: 50px;
    transform: translateX(-50%);
}
.hamburger_box{
    width: 25px;
    display: inline-block;
    position: relative;
}
.hamburger_inner{
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
}
.hamburger_inner::before,
.hamburger_inner::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.hamburger_inner::before {
    top: -10px;
}
.hamburger_inner::after {
    top: 10px;
}
.backgroundText{
    width: 100%;
}
.backgroundHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.backgroundHeader p{
    color: #fff;
    width: 80%;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 600;
}
.backgroundText2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.backgroundText2 p{
    color: #fff;
    width: 80%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.mainText{
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boldText{
    font-size: 1.4rem;
    width: 80%;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
}
.pinkText {
    padding-top: 20px;
    font-size: 1.5rem;
    width: 80%;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    color: #E48BC2;
}
.sampleText{
    padding-top: 20px;
    width: 80%;
    line-height: 1.4;
    text-align: center;
}
.offers{
    padding-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.offer{
    padding-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background: #F2F2F2;
    border-radius: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.icons{
    width: 40px;
    height: 40px;
    color: #E48BC2;
}
.offerBold{
    font-size: 1.2rem;
    font-weight: 800;
    padding-top: 10%;
}
.offerLorem{
    width: 90%;
    padding-top: 10%;
    text-align: center;
    color: #808080;
    font-size: 1.1rem;
}
.divLogo{
    width: 30%;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px
}
.offerPink{
    background-color: #f2dcf1;
}
.arrow{
    padding-top: 5%;
    width: 65px;
    height: 65px;
    color: #E48BC2;
}
.technology{
    width: 100%;
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.technologyBoldText{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 3px;
    width: 80%;
}
.lightTextSpan{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.technologyBoldText2{
    font-size: 1.25rem;
    width: 80%;
    font-weight: 800;
    margin-top: 15%;
}
.loremTechnology{
    margin-top: 5%;
    width: 80%;
    font-size: 1.1rem;
    line-height: 22px;
}
.buttonReadMore {
    color: #fff;
    font-weight: bold;
    background-color: #E48BC2;
    padding: 8px 18px;
    height: 45px;
    width: 145px;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
}
.buttonDiv{
    width: 80%;
    margin-top: 15%;
}
.buttonReadMore:hover{
    background-color: #dd71b4;
}
.date{
    color: #E48BC2;
    margin-top: 15%;
    font-size: 1.5rem;
    font-weight: 700;
}
.technologyLast{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 6%;
}
.teamDiv{
    width:100%;
}
.ourTeam{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 50%;
}
.team{
    padding-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    padding-bottom: 30px;
}
.elements{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F2F2F2;
    margin-top: 55px;
    padding-bottom: 30px;
}
.element1{
    background: #1F203A url(portret1.jpg) no-repeat center/cover;
    margin-top: 10%;
}
.element2{
    background: #1F203A url(portret2.jpg) no-repeat center/cover;
}
.element3 {
    background: #1F203A url(portret3.jpg) no-repeat center/cover;
}
.middleSide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textTeam{
    text-align: center;
    padding-top: 15px;
    font-weight: 700;
    font-size: 1.3rem;
}
.textTeamSample{
    padding-top: 20px;
    line-height: 1.4;
    text-align: center;
}
.recruitmentAgency{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 20%;
}
.blocks{
    margin-top: 20px;
}
.pinkBlock{
    background: #fff7fe;
}
.numberOfText{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
}
.recruitmentText{
    padding: 10px;
    font-size: 1.1rem;
    line-height: 25px;
    color: #808080;
}
.photoBoss1{
    background: #1F203A url(boss1.jpg) no-repeat center/cover;
}
.photoBoss2{
    background: #1F203A url(boss2.jpg) no-repeat center/cover;
    filter: grayscale(100%);

}
.bossPhotos{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
}
.boss{
    background: #f2dcf1;
    width: 100vw;
    padding-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 30px;
}
.elementsTeam{
    background: #f2dcf1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textTeamSampleLast{
    margin-bottom: 10%;
}
.elementTeam1{
    margin-top: 10%;
}
.bossElementLower{
    width: 80%;
    border-radius: 10%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    margin: 20px 0;
}
.bossElementHigher{
    width: 80%;
    border-radius: 10%;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.sampleBoss{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
    width: 85%;
    line-height: 35px;
}
.bossName{
    font-size: 1.3rem;
    padding-top: 30px;
    font-weight: 600;
}
.bossRole{
    font-size: 1.1rem;
    color: #E48BC2;
    padding-top: 20px;
    font-weight: 600;
}
.logosDiv{
    display: flex;
    margin-bottom: 8%;
}
.workers{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    flex-direction: column;
}
.logos{
    width: 23px;
    height: 23px;
    margin-right: 15px;
    margin-top: 20px;
    color: black;
}
.worker1Photo{
    background: #1F203A url(worker1.jpg) no-repeat center/cover;
    width: 230px;
    height: 230px;
    border-radius: 20%;
}
.worker1{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
}
.roleWorker{
    font-size: 1.2rem;
    color: #f6c5f4;
    padding-top: 15px;
    font-weight: 700;
}
.workerName{
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 15px;
}
.workersLorem{
    text-align: center;
    padding-top: 30px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 25px;
    width: 90%;
}
.workerNamePink{
    color: #fff;
}
.workerPink{
    background-color: #dd71b4;
}
.worker2Photo{
    background: #1F203A url(worker2.jpg) no-repeat center/cover;
    width: 230px;
    height: 230px;
    border-radius: 20%;
    margin-top: 10%;
}
.logosPink{
    color: #fff;
}
.workersLoremPink{
    color: #fff;
}
.worker3Photo{
    background: #1F203A url(worker3.jpg) no-repeat center/cover;
    width: 230px;
    height: 230px;
    border-radius: 20%;
    margin-top: 15%;
}
.containerContact{
    margin-top: 20%;
    width: 100vw;
    background:#F2DCF1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact{
    margin-top: 10%;
    width: 75%;
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputs{
    width: 100%;
    font-size: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background:  transparent;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.inputs:focus{
    border-top: 2px solid #1F203A;
    border-left: 2px solid #1F203A;
    border-right: 2px solid #1F203A;
    outline: 1px solid #fff;
    border-radius: 5%;
}
.inputs::placeholder{
    opacity: 0.6;
    color: grey;
    font-family: 'Raleway', sans-serif;
}
.items{
    border-bottom: 2px solid black;
}
.message{
    border-bottom: 2px solid black;
    resize: none;
    height: 100px;
}
.submitButton{
    color: #fff;
    font-weight: bold;
    background-color: #E48BC2;
    padding: 8px 18px;
    height: 45px;
    width: 145px;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
}
.buttonDiv2{
    width: 100%;
}
.contactText{
    font-size: 1.1rem;
    font-weight: 800;

}
article{
    width: 80%;
    margin-top: 15%;
    margin-bottom: 20%;
    border-radius: 10%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articleText{
    width: 95%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.1rem;
    line-height: 25px;
}
.footer1{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.footer1 p{
    color: #fff;
    font-size: 1rem;
    width: 100%;
    padding: 10%;
    line-height: 1.6;
}
.footer2{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
}
.footer2 p{
    color: #fff;
    font-size: 1rem;
    width: 80%;
}
.navigation {
    height: 100vh;
    width: 250px;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    transition: transform .3s .1s ease-in-out;
    z-index: 99;
}
.navigation--active {
    transform: translateX(0px);
}
.navigation__list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigation__item {
    margin-bottom: 20px;
}
.navigation__item a {
    text-decoration: none;
    color: #E48BC2;
    font-size: 1.5rem;
}
.xButton{
    background-color: transparent;
    border: none;
    margin-top: 30px;
    margin-left: 70%;
}
.xIcon{
    width: 40px;
    height: 40px;
    color: #E48BC2;
}
.container{
    transition: opacity 0.5s;
}
.container--active{
    overflow-y: hidden;
    opacity: 0.6;
    height: 100vh;
    transition: opacity 0.5s;
}
@media (min-width: 1200px) {
    nav{
        display: flex;
        align-items: center;
        flex-direction: unset;
        width: 60%;
    }
    .background{
        display: flex;
        align-items: center;
        height: 80vh;
    }
    .search{
        width: 25%;
        margin-top: 1%;
    }
    .hamburger{
        position: absolute;
        margin-left: 55%;

    }
    .backgroundText{
        width: 70%;
        margin-top: 5%;
    }
    .backgroundHeader{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .backgroundHeader p{
        font-size: 3rem;
        text-align: center;
    }
    .backgroundText2{
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
    .backgroundText2 p{
        font-size: 1.7rem;
        line-height: 35px;
        text-align: center;
        margin-top: 40px;
    }
    .boldText{
        width:30%;
        font-size: 2rem;
        color: #4D4D4D;
        margin-top: 40px;
    }
    .pinkText{
        font-size: 1.9rem;
        margin-top: 20px;
    }
    .sampleText{
        width: 25%;
        font-size: 1.2rem;
        margin-top: 20px;
    }
    .offers{
        width: 60%;
        display: flex;
        flex-direction: unset;
        padding-top: 0;
        margin-top: 2%;
    }
    .offer{
        margin-right: 30px;
        border-radius: 10%;
        padding: 4%;
    }
    .offerLorem{
        width: 100%;
    }
    .middleSide{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: unset;
    }
    .technology{
        width:30%;
        padding: 0;
        margin-top: 0;
    }
    .elementsTeam{
        background: #f2dcf1;
        width: 100%;
    }
    .team{
        width: 30%;
        flex-direction: column;
        display: flex;
        align-items: unset;
        justify-content: unset;
        padding: 0;
        margin:0;
    }
    .elements{
        border-radius: 50%;
        filter: grayscale(100%);
        background: #F2F2F2;
        padding: 0;
        margin: 0;
    }
    .textTeam{
        font-weight: 700;
        font-size: 1.2rem;
    }
    .textTeamSample{
        line-height: 1.4;
        padding: 0;
        margin: 0;
    }

    .elementsTeam{
        padding: 8%;
        margin: 0;
    }
    .textTeamSampleLast{
        padding: 0;
        margin: 0;
    }
    .teamDiv{
        display: flex;
        margin-top: 10%;
    }
    .date{
        width: 100%;
        padding: 0;
        margin-top: 22%;
        font-size: 2rem;
    }
    .textTeamElements{
        width: 100%;
    }
    .ourTeam{
        margin-top: 30%;
    }
    .technologyLast{
        margin-top: 5%;
        font-size: 1.6rem;
        width: 60%;
    }
    .technologyBoldText{
        font-size: 1.7rem;
    }
    .element1{
        background: #1F203A url(portret1.jpg) no-repeat center/cover;
    }
    .element2{
        background: #1F203A url(portret2.jpg) no-repeat top/cover;
    }
    .element3 {
        background: #1F203A url(portret3.jpg) no-repeat center/cover;
    }
    .recruitmentAgency{
        display: flex;
        flex-direction: column;
        align-items: revert;
        margin-top: 5%;
        width: 50%;
    }
    .containerAgency{
        display: flex;
    }
    .blocks{
        display: flex;
        padding: 20px;
    }
    .recruitmentText{
        font-size: 1.2rem;
    }
    .numberOfText{
        font-size: 1.7rem;
    }
    .boss{
        display: flex;
        flex-direction: revert;
        align-items: revert;
        justify-content: center;
        margin: 0;
        padding: 0;
        height: 75vh;
    }
    .bossElementHigher{
        width: 20%;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-right: 2%;
    }
    .bossElementLower{
        width: 20%;
        padding: 0;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .workers{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        flex-direction: revert;
    }
    .worker1{
        width: 25%;
        border-radius: 10%;
    }
    .workersLorem{
        width: 70%;
    }
    .worker1Photo{
        margin-top: 8%;
    }
    .worker2Photo{
        margin-top: 8%;
    }
    .worker3Photo{
        margin-top: 8%;
    }
    .containerContact{
        margin-top: 8%;
        width: 100vw;
        background:#F2DCF1;
        flex-direction: revert;
        justify-content: center;
        height: 85vh;
    }
    article{
        width: 23%;
        margin-top: 20%;
    }
    .contact{
        width: 30%;
        margin-top:1%;
        margin-right: 5%;
    }
    .articleText{
        padding-top: 20%;
        margin-top: 0;
        margin-bottom: 20%;
        width: 80%;
        font-size: 1.2rem;
        line-height: 30px;
    }
    .containerDatePhone{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .containerDate{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    .containerPhone{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    .phone{
        margin-bottom: 5px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    .footer1 p{
        font-size: 1rem;
        width: 22%;
        padding: 0;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .footer2 {
        margin: 0;
        padding: 0;
    }
    .footer2 p{
        margin-bottom: 2%;
        padding: 0;
    }
    .inputs:focus {
    border-radius: 2%;
    }

    .navigation {
        opacity: 0.7;
    }
    .navigation--active {
        transform: translateX(0px);
        opacity: 0.7;
    }
    .xIcon{
        cursor: pointer;
    }
    .container{
        transition: opacity 0.5s;
    }
    .container--active{
        overflow-y: hidden;
        opacity: 0.9;
        transition: opacity 0.5s;
    }

}
